@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;
    var bgColor = settings?.ServiceBgColor;

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children <ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="services-section" style="--service-bg:@bgColor">
    <div class="section-container">
        <div class="service-text-wrapper">
            @if (settings!.ShowServiceLabel)
            {
                <p class="label">@content.ServiceLabel</p>
            }
            <div class="rte">@Html.Raw(content.ServiceTitle)</div>
        </div>

        <div class="service-grid">
            @if (items.Any())
            {
                @foreach (var item in items)
                {
                    <div class="service-card">
                        <a href="@item.Url()">
                            <h5 class="service-title">@item.Name</h5>
                                <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/Fallback.svg")" />
                            <p class="service-description">@item.ServiceDetailExcerpt</p>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No services available.</p>
            }
        </div>
    </div>
</section>