@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

@{
	Layout = "mainLayout.cshtml";
}

<section class="hero">
	<div>
		@if (Model.HeroBgImg != null)
		{
			<img src="@Model.HeroBgImg.Url()" class="w-full h-full object-cover" />
		}
	</div>
	<div class="container">
		<div class="hero-content">
			<h1>@Model.HeroTitle</h1>
			<div class="rte">@Html.Raw(Model.HeroText)</div>
			@if (Model.HeroLink != null)
			{
				<a class="link-button" href="@Model.HeroLink.Url">@Model.HeroLink.Name</a>
			}
		</div>
	</div>
</section>


